<footer class="page-footer bg-dark text-white mt-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text mt-4">MyBlogs!</h5>
        <p class="grey-text text-lighten-4">
          This Blog Website is Created by Tajender Kumar ,If you want to Connect with me just click on the links that is
          shown in the right of this text.
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text mt-4">Social Platform</h5>
        <ul style="list-style: none;">
          <li class="mt-2"><i class="fab fa-github"></i>
            <a class="grey-text text-lighten-3" href="https://github.com/tajenderkumar5" target="_blank">Github</a>
          </li>
          <li class="mt-2"><i class="fab fa-linkedin"></i>
            <a class="grey-text text-lighten-3" href=""
              target="_blank">Linkedin</a>
          </li>
          <li class="mt-2"><i class="fab fa-facebook"></i>
            <a class="grey-text text-lighten-3" href=""
              target="_blank">Facebook</a>
          </li>
          <li class="mt-2"><i class="fab fa-twitter"></i>
            <a class="grey-text text-lighten-3" href="" target="_blank">Twitter</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright p-3">
    <div class="container text-center">
      © 2022-2030 Copyright Tajender Kumar
      <!-- <a class="grey-text text-lighten-4 right" href="/">More Links</a> -->
    </div>
  </div>
</footer>